*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff6347;
    --secondary-color: #4CAF50;
    --font-family: 'Arial', sans-serif;
    /* Typography */
    --font-size-small: clamp(0.8rem, 2vw, 1rem);
    --font-size-medium: clamp(1rem, 2.5vw, 1.25rem);
    --font-size-large: clamp(1.25rem, 3vw, 1.5rem);
    --font-size-h1: clamp(2rem, 5vw, 3rem);

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}